.DS_Store
nvim/bundle/*
*secret*

old

fishd.*
fish_history*
fish/completions/*
fish/conf.d/git.fish
fish/functions/*
fish/fish_variables
fish/conf.d/local.fish

direnv/allow

nvim/plugin/*
lvim/plugin/*
