@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @peach;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @maroon;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-right: 10px;
  background-color: @surface0;
}

#workspaces button.focused {
  color: @peach;
  background-color: @surface0;
}

#workspaces button:hover {
  color: @yellow;
  background-color: @surface0;
}

#window,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#window {
  border-radius: 1rem;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-left: 1rem;
  border-radius: 1rem;
}
